body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background: #77c7fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title {
    font-family: "Agency FB", serif;
}

#password {
    width: 250px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;
    color: #000000;
    background: #93b8cd;
    font-size: 20px;
}

#password-strength {
    height: 50px;
    font-size: 24px;
    text-align: left;
    color: #292929;
    margin-top: 10px;
    transition: color 0.3s ease;
}